<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
<div class="row mb-3" th:fragment="application-scope-form">
    <div class="col-lg-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Application Scope Example</h5>
                <p class="card-text">Current value in application scope is: [ <span th:text="${applicationScopeValue}"></span> ] </p>
                <form action="#" th:action="@{/saveApplicationScopeValue}" method="post">
                    <div class="form-group">
                        <label for="applicationScopeValue">Value to be set on request level</label>
                        <input id="applicationScopeValue" type="text" class="form-control" name="applicationScopeValue" required>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>