<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(~{::main})}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form action="#" method="post" th:object="${person}">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstName">First Name</label>
                                <input type="text" id="firstName" class="form-control" th:field="*{firstName}"
                                       th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid'"/>
                                <div class="invalid-feedback" th:errors="*{firstName}"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="lastName">Last Name</label>
                                <input type="text" id="lastName" class="form-control" th:field="*{lastName}"
                                       th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid'"/>
                                <div class="invalid-feedback" th:errors="*{lastName}"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>